node_modules/
# User-specific files - ignore all files starting with the letter "z"
z.*
# User-specific file - ignore file ending in ".env"
*.env
# root arrtifacts folder - ignore this directory 
/artifacts/*
